name: golangci-lint

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci-reusable:
    uses: esacteksab/.github/.github/workflows/golangci-lint.yml@1828e3a942467779111bea0c7f3b061533d39b9f  # v0.73.0
    with:
      golangci-version: 2.9.0
